@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root{
    --ff-text: "DM Sans", sans-serif;
    --primary-color-100: #e2dbfc;
    --primary-color-200: #673de6;
    --primary-color-600: #5025d1;
    --primary-color-300: #2f1c6a;
    --primary-color-400: #1f1346;
    --primary-color-500: #1d1e20;
    --second-color-100: #ffffff;
    --second-color-200: #00b090;
    --second-color-300: #d5dfff;
}
*{
margin: 0;
box-sizing: border-box;
padding: 0;
font-family: var(--ff-text);
background-color: var(--second-color-100);
}
header{
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    background-color: var(--second-color-100);
}
.header-icon-host{
    height: 88px;;
    padding: 29px 0 29px 40px;
}
.header-nav-btn{
    color: var(--primary-color-500);
    background-color: #ffffff;
    border: none;
    display: none;
}
.header-nav-btn i{
    font-size: 24px;
}
.header-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
}
.header-nav--list{
    display: flex;
    flex-direction: row;
    font-weight: 300;
    font-size: 16px;
    gap: 32px;
}
.header--li-item{
    display: flex;
    flex-direction: row;
}
.header--li-item a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color-400);
}
.h-svgo-icon{
    width: 24px;
    height: 24px;
}
.header-nav--lang-sing{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    font-weight: 700;
}
.heaeder-nav--lang{
    display: flex;
    flex-direction: row;
    gap: 4px;
}
.heaeder-nav--lang-flag{
    width: 32px;
    height: 20px;
}
.heaeder-nav--lang-button{
    font-weight: 700;
    background-color: transparent;
    color: var(--primary-color-400);
    font-size: 16px;
    border: none;
}
.header-nav--sing-button{
    background-color: transparent;
    color: var(--primary-color-300);
    font-weight: 700;
    font-size: 16px;
    border: 2px solid var(--primary-color-300);
    padding: 12px 16px;
    border-radius: 8px;
    line-height: 1;
}
.creation-web{
    color: var(--primary-color-300);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1472px;
    margin: auto;
    padding: 124px 40px 96px;
    gap: 8px;
}
.creation-web--coste{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}
.creation-web--coste-header{
    margin: 0 0 24px;
}
.creation-web--coste-header-title{
    font-size: 36px;
    font-weight: 700;
}
.creation-web--coste-header-subtitle{
    font-size: 20px;
    margin: 8px 0 0;
    line-height: 32px;
    font-weight: 700;
}
.creation-web--coste-header-subtitle .off{
    color: var(--primary-color-200);
}
.creation-web--coste-benefit{
    margin: 0 0 24px;
}
.creation-web--coste-benefit-li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.creation-web--coste-benefit-li-check{
    color: var(--second-color-200);
    width: 24px;
}
.creation-web--coste-benefit-li-detail{
    width: 16px;
}
.creation-web--coste-type-time{
    font-size: 20px;
}
.creation-web--coste-price-value{
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
}
.creation-web--coste-price-free{
    line-height: 32px;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 24px;
}
.creation-web--coste-buttons{
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.creation-web--coste-button-star{
    border-radius: 8px;
    padding: 12px 48px;
    border: none;
    background-color: var(--primary-color-200);
    color: var(--second-color-100);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    
}
.creation-web--coste-button-timer{
    border-radius: 8px;
    border: none;
    background-color: var(--primary-color-100);
    width: 160px;
    /* font-size: 16px; */
    font-weight: 600;
    line-height: 24px;
    color: var(--primary-color-300);
    display: flex;
    justify-content: center;
    align-items: center;
}
#reloj{
    background-color: var(--primary-color-100);
}
.creation-web--coste-warranty{
    margin: 12px 0 0;
    display: flex;
    flex-direction: row;
}
.creation-web--coste-warranty-icon{
    width: 16px;
    margin-right: 4px;
}
.creation-web-example{
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    max-width: 880px;
}
.creation-web-example img{
    max-width: 100%;
}
/* Seccion 2Seccion 2Seccion 2Seccion 2Seccion 2Seccion 2Seccion 2Seccion 2Seccion 2 */
.web-simple{
    padding: 80px 0px;
    background-color: var(--primary-color-400);
    color: var(--second-color-100)
}
.web-simple--header{
    width: 1208px;
    padding: 0 40px;
    margin-bottom: 48px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primary-color-400);
}
.web-simple--header-title{
    font-size: 36px;
    text-align: center;
    background-color: var(--primary-color-400);
}
.web-simple--answer{
    font-size: 16px;
    margin-top: 24px;
    text-align: center;
    background-color: var(--primary-color-400);
}
.detail-container{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 1208px;
    padding: 0px 40px;
    gap: 24px;
    background-color: var(--primary-color-400);
}
.detail-container--box{
    width: 360px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--primary-color-300);
    border-radius: 16px;
}
.detail-container--icon{
    font-size: 24px;
    width: 40px;
    height: 40px;
    display: flex;
    background-color: var(--primary-color-200);
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
.detail-container--subtitle{
    font-size: 18px;
    font-weight: 700;
    background-color: var(--primary-color-300);
}
.detail-container--description{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background-color: var(--primary-color-300);
}
.web-simple--button{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    background-color: var(--primary-color-400);
}
.web-simple--button a{
    background-color: var(--primary-color-200);
    font-size: 16px;
    color: var(--primary-color-100);
    padding: 12px 48px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    text-decoration: none;
}
.web-simple--button a:hover{
    transition: .3s;
    background-color: var(--primary-color-600);
}
footer{
    max-width: 1208px;
    margin: auto;
    padding: 56px 40px 0;
}
.links-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: var(--primary-color-300);
    margin-bottom: 16px;
}
.links-footer-up{
    display: flex;
    flex-direction: row;
}
.links-footer-down{
    display: flex;
    flex-direction: row;
}
.links-footer-title{
    margin-bottom: 8px;
    font-weight: 700;
}
.links-footer-items{
    list-style-type: none;
    margin-bottom: 8px;
    padding-right: 8px;
}
.links-footer-items a{
    text-decoration: none;
    color: var(--primary-color-300);
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    
}
.link-footer-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}
.footer-redes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.footer-redes path{
    fill: var(--primary-color-300);
}
.footer-redes-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 16px;
    font-size: 27px;
}
.footer-redes-links a{
    color: var(--primary-color-300)
}
.footer-cards-legal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.footer-card{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.footer-card-up{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.footer-card-down{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.footer-card img{
    width: 60px;
    height: 40px;
    border: 1px solid var(--second-color-300);
    border-radius: 6px;
}
.footer-card-more{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--primary-color-200);
    font-weight: 700;
}
.footer-legal{
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-size: 14px;
    line-height: 24px;
}
.footer-legal a{
    text-decoration: none;
    color: var(--primary-color-300)
}
.footer-copyright{
    border-top: 1px solid var(--second-color-300);
    padding: 24px 0;
    font-size: 14px;
    line-height: 24px;
    color: var(--primary-color-300);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.answer{
    display: flex;
    font-size: 14px;
    font-weight: 700;
    gap: 8px;
    padding: 8px 16px 8px 8px;
    background-color: var(--primary-color-200);
    color: var(--primary-color-100);
    border: none;
    position: fixed;
    bottom: 12px;
    right: 12px;
    line-height: 24px;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
}
.answer i{
    background-color: var(--primary-color-200);
}
.answer span{
    background-color: var(--primary-color-200);
}
@media screen and (max-width: 1208px){
    .web-simple--header{
        width: 100%;
        padding: 0 40px;
    }
    .web-simple--header{
        width: 100%;
        padding: 0 40px;
    }
    .detail-container{
        width: 100%;
        padding: 0 40px;
    }
}
@media screen and (max-width: 1060px){
    
    header{
        justify-content: space-between;
    }
    .header-icon-host{
        height: 62px;
        width: 147px;
        padding: 16px 0 16px 20px;
    }
    .header-nav{
        display: none;
    }
    .header-nav-btn{
        display: flex;
        position: absolute;
        right: 16px;
        top: 16px;
        width: 24px;
    }
    .creation-web{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 768px;
    margin: auto;
    padding: 124px 40px 96px;
    gap: 8px;
    }
    .creation-web-example{
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .web-simple--header-title{
        font-size: 28px;
    }
    .detail-container{
        flex-direction: column;
        align-items: center;
        width: 688px;
    }
    .detail-container--box{
        width: 688px;
    }
    .links-footer{
        flex-direction: column;
    }
    .link-footer-container{
        width: 200px;
    }
    .links-footer-up{
        justify-content: space-between;
        align-items: flex-start;
        gap: 44px;
        width: 100%;
    }
    .links-footer-down{
        justify-content: space-between;
        align-items: flex-start;
        gap: 44px;
        width: 100%
    }
    .footer-cards-legal{
        flex-direction: column-reverse;
        gap: 16px;
        align-items: flex-start;
    }
    .footer-copyright{
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
    }
}
@media screen and (max-width: 768px){
    main{
        width: 100%;
    }
    .header-nav{
        display: none;
    }
    .creation-web{
        width: 100%;
        padding: 76px 16px 36px;
    }
    .creation-web--coste-header{
        margin: 0 0 16px;
    }
    .creation-web--coste-header-title{
        font-size: 24px;
    }
    .creation-web--coste-header-subtitle{
        font-size: 18px;
        line-height: 24px;
    }
    .creation-web--coste-price-value{
        font-size: 36px;
        line-height: 42px;
    }
    .creation-web--coste-price-free{
        font-size: 18px;
        line-height: 24px;
        margin: 0 0 16px;
    }
    .creation-web--coste-buttons{
        flex-direction: column-reverse;
    }
    .creation-web--coste-button-timer{
        padding: 12px 48px;
        width: 100%;
    }
    .web-simple{
        padding: 56px 0px;
    }
    .web-simple--header-title{
        font-size: 24px;
    }
    .detail-container{
        padding: 0 16px;
        width: 100%;
    }
    .detail-container--box{
        width: 100%;
    }
    footer{
        padding: 16px 16px 0;
    }
    .links-footer{
        flex-direction: column;
    }
    .link-footer-container{
        width: 100%;
        margin: 0;
    }
    .links-footer-title{
        font-size: 18px;
        margin: 0;
        padding: 8px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .links-footer-title i{
        font-size: 24px;
        line-height: 18px;
    }
    .links-footer-up{
        flex-direction: column;
        gap: 0;
    }
    .links-footer-down{
        flex-direction: column;
        gap: 0;
    }
    .links-footer-items{
        display: none;
    }
    .footer-redes{
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .footer-redes-links{
        width: 100%;
        justify-content: space-between;
        padding: 16px 0;
        margin-bottom: 8px;
    }
    .footer-card{
        flex-direction: column;
    }
    .footer-legal{
        margin-bottom: 8px;
    }
    .footer-copyright{
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
    }
}